<%- include('./partials/head') %>


<div class="container">
    <div class="row">
        <% data.forEach(person => { %> 
            <% if (person.avatar) { %>
            <div class="hexagon">
            <img src="<%= person.avatar %>" alt="">
        </div>
        <% } %>
        <% }) %>
        <div class="hexagon">
            <p>link</p>
        </div> 
    </div>
</div>

<h2>Laat een bericht achter</h2>
<form method="POST" action="/">
    <label>
        Plaats een bericht:
        <textarea required name="bericht"></textarea>
    </label>
    <button type="submit">Verstuur bericht</button>
</form>

<h2>Geplaatste berichten</h2>
<ul>
    
</ul>





<%- include('./partials/foot') %>


    
      
    
 