/* google font link adres zorgt er voor dat ik daarmee connectie mee kan maken  */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root {
    
  }

/* weg halen van onnodige margin en padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google font text  */

body{
    
}

/*******************************************************************
                                                                   * 
                            MOBILE                                 *
                                                                   *
********************************************************************/
/* article {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20em;
    height: 45em;
    border: 0.2em solid black;
    margin-top: 2em;
}



.point-a {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    background-color: black;
    margin-top: 1.5em;
}

.pulse {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    background-color: black;
    animation: pulseAnimate 4s ease-out infinite;
}

@keyframes pulseAnimate {
    100% {
        opacity: 0;
        transform: scale(2);
    }
}

.line {
    border-left: 0.2em solid black;
    width: 1em;
    height: 4.5em;
    margin-left: 0.4em;
    bottom: 2.5em;
    position: relative;
}

img {
    width: 15em;
    height: 12.5em;
    margin-top: 2em;
} */

/*******************************************************************
                                                                   * 
                            TABLET                                 *
                                                                   *
********************************************************************/
/* @media (min-width: 45em) {
    article {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 40em;
        height: 60em;
        border: 0.2em solid black;
        margin-top: 2em;
    }

    .cards-x {
        display: flex;
        flex-direction: column;
        gap: 2em;
        width: 40em;
        height: 60em;
        border: 0.2em solid black;
        margin-top: 2em;
    }

    div {
        display: grid;
        grid-template-areas: 
        "header ."
        ". header"
        ;
    }

    .point-a {
        border-radius: 50%;
        width: 1em;
        height: 1em;
        background-color: black;
        margin-top: 1.5em;
    }
    
    .pulse {
        border-radius: 50%;
        width: 1em;
        height: 1em;
        background-color: black;
        animation: pulseAnimate 4s ease-out infinite;
    }
    
    @keyframes pulseAnimate {
        100% {
            opacity: 0;
            transform: scale(2);
        }
    }
    
    .line {
        border-left: 0.2em solid black;
        width: 1em;
        height: 4.5em;
        margin-left: 0.4em;
        bottom: 2.5em;
        position: relative;
    }
    
    img {
        width: 30em;
        height: 20em;
        margin-top: 2em;
    }
} */

/*******************************************************************
                                                                   * 
                            DESKTOP                                *
                                                                   *
********************************************************************/
/* @media (min-width: 75em) { */
    /* article {
        display: flex;
        flex-direction: row;
        gap: 1em;
        margin-left: 1em;
        justify-content: center;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 35em;
        height: 35em;
        border: 0.2em solid black;
        margin: 4em 30em 0em 0em;
    }

    .cards {
        
    }

    .cards-x {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 35em;
        height: 35em;
        border: 0.2em solid black;
        margin: 10em 0em 10em 40em;
    }

    .cards-desk {
        margin-right: 20em;
    }

    .point-a {
        border-radius: 50%;
        width: 1em;
        height: 1em;
        background-color: black;
        margin-top: 3em;
        position: relative;
    }
    
    .pulse {
        border-radius: 50%;
        width: 1em;
        height: 1em;
        background-color: black;
        animation: pulseAnimate 4s ease-out infinite;
    }
    
    @keyframes pulseAnimate {
        100% {
            opacity: 0;
            transform: scale(2);
        }
    }
    
    .line {
        border-left: 0.2em solid black;
        width: 1em;
        height: 16em;
        margin-left: 0.4em;
        top: 14.8em;
        right: 35em;
        position: relative;
        transform: rotate(130deg);
    }

    .line-x {
        border-left: 0.2em solid black;
        width: 1em;
        height: 20em;
        margin-left: 0.4em;
        top: 12.8em;
        right: 35em;
        position: relative;
        transform: rotate(45deg);
    } */
      
    /* test */
    @font-face {
        font-family: 'Rocher';
        src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
    }

    * {
        margin: 0;
        padding: 0;
    }
     
    body {
        font-family: 'Rocher'
    }
    
    h2 {
        font-size: 4em;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #944E63; 
        gap: 1.5em;
    }

      .container {
        display: flex;
        width: 50%;
        height: 100%;
      }

      .row {
        display: inline-flex;
        flex-wrap: wrap;
      }
      
      .row:nth-child(even){
        margin-left: 0.2em;
      }
      
      .hexagon {
        width: 8em;
        height: 8em;
        margin: 0.2em;
        background-color: #B47B84;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        background: #B47B84;  
      }

      .hexagon img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
      
      p{
        color: #FFE7E7;
      }

      .hexagon:empty {
        display: none;
      }

      .hexagon:hover{
        transform: scale(1.5);
      }

      h2 {
        color: #FFE7E7;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-content: center;
        gap: 1em;
      }

      label {
        text-align: center;
      }

      textarea {
        width: 100%;
        height: 8em;
        padding: 0.5em;
      }

      li {
        color: FFE7E7;
        list-style-type: none;
      }

      article {
        border: double #CAA6A6  0.3em;
        width: 50%;
        height: 100%;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
/* } */